.gutter {
    background-clip: content-box;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px ;
}

.gutter.gutter-vertical {
    cursor: row-resize;

}

.gutter-light {
    background-color: #d6d6d6;
}

.gutter-dark {
    background-color: #3f3f3f;
}

