.gutter {
    background-clip: content-box;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px ;
}

.gutter.gutter-vertical {
    cursor: row-resize;

}

.gutter-light {
    background-color: #868686;
}

.gutter-dark {
    background-color: #616161;
}

