/* split.css */
.gutter {
    background-color: #2d2d2d;
    background-clip: content-box;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    height: 6px;
}
